<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <ul>
        <% logs.forEach(log => { %>
		<li>
            <a href="logs/<%=log.id%>">  <%= log.title %>
            </a>
            <form action="/logs/<%=log._id%>?_method=DELETE" method="POST" style="display:inline; margin-left: 17px;">
                <input type="submit" value="DELETE">
            </form>
            <a href="/logs/<%=log.id%>/edit">Edit</a>
        </li>
        <% }) %>
    </ul>
    <a href="/logs/new">Create a New Log</a>
</body>
</html>